<section id="badges" class="section">
    <h2>Badges</h2>
    <p class="description">
        Les badges sont des indicateurs pour afficher des informations supplémentaires telles que des notifications ou des statuts.
    </p>
    <div class="badge-list">
        <!-- Supprimer le contenu pour un affichage dynamique -->
        <div class="badge badge-primary" aria-label="10 Nouveau messages" role="alert" aria-live="polite">
            <i class="fa fa-envelope"></i> 10 Nouveaux Messages
        </div>
        <div class="badge badge-warning" aria-label="2 avertissements" role="alert" aria-live="polite">
            <i class="fa fa-exclamation-triangle"></i> 2 Avertissements
        </div>
        <div class="badge badge-danger" aria-label="1 erreur" role="alert" aria-live="polite">
            <i class="fa fa-times-circle"></i> 1 Erreur
        </div>
        <div class="badge badge-success" aria-label="Succès" role="alert" aria-live="polite">
            <i class="fa fa-check-circle"></i> Succès !
        </div>
    </div>
</section>
