.footer {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 1em;
    text-align: center;
}
.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.footer ul li {
    display: inline;
}
.footer ul li a {
    color: var(--white-color);
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}