/* Reset some basic styles for consistency across browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    transition: all 0.5s ease, color 0.5s ease;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

main {
    margin: 0 auto;
}

section {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 450px;
    margin-bottom: 2em;
    padding: 2em;
    /* background: var(--secondary-color); */
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

section h2 {
    margin-bottom: 1em;
    font-size: 1.8em;
    color: #000;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5em;
}

section p {
    margin-bottom: 1em;
    color: #000;
}