<section id="progress-bar" class="section" aria-label="Section Progress Bar">
    <h2>Progress Bar</h2>
    <p class="description">
        Les barres de progression indiquent visuellement l'avancement d'une tâche ou d'un processus, aidant
        l'utilisateur à comprendre la progression ou le temps restant.
    </p>

    <div class="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="my-progress">
        <div class="progress-bar" id="my-progress-bar" style="width: 0%;">
            0%
        </div>
    </div>

    <button id="go-to-100" class="btn">Aller à 100%</button>
    <button id="reset" class="btn btn-reset">Réinitialiser à 0%</button>
</section>